/* ----- header text ----- */
.contact-text-container {
  /* outline: 3px solid black; */
  margin: 80px auto 60px auto;
  text-align: center;
  width: 80%;
  max-width: 900px;
}
.contact-heading {
  font-size: 40px;
  margin-bottom: 15px;
}
.contact-subheader {
  margin-top: 30px;
  font-size: 20px;
  line-height: 2;
  /* font-size: 18px; */
}
/* ----- main container ----- */
.contact-outer-container {
  /* outline: 3px solid red; */
  margin: 70px auto;
  width: 80%;
  max-width: 900px;
}

/* ----- meet the team ----- */
.mtt-container {
  /* outline: 3px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 80px 0px 120px 0px;
  /* justify-content: center; */
  align-items: center;
}
.mtt-img-container {
  /* outline: 3px solid green; */
  width: 25%;
  scale: 1 / 1;
  margin: 25px;
}
.mtt-img {
  width: 100%;
  border-radius: 50%;
}
.mtt-header {
  font-size: 40px;
}
.mtt-text {
  font-size: 20px;
  line-height: 2;
  width: 80%;
  text-align: center;
}
.mtt-contact-container {
  /* outline: 3px solid yellow; */
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.mtt-phone-container,
.mtt-email-container {
  /* outline: 3px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  /* width: 30%; */
}
.mtt-contact-text {
  font-size: 20px;
  padding-top: 15px;
}
.mtt-icon {
  font-size: 30px;
}

/* ----- process ----- */
.process-outer-container {
  /* outline: 2px solid yellow; */
  width: 100%;
  padding-bottom: 30px;
  box-shadow: 0px 3px 2px rgba(175, 175, 175);
}
.process-heading {
  text-align: center;
  font-size: 30px;
  padding: 15px 0px 30px 0px;
  margin: 0 auto;
  width: 80%;
  display: block;
}
.process {
  margin: 80px 0px;
  /* outline: 2px solid green; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.process-one {
  margin-top: 60px;
}
.process-text {
  width: 60%;
  /* display: block; */
  font-size: 20px;
  line-height: 1.5;
}
.hidden {
  opacity: 0;
  transition: all 1.5s;
}
.show {
  opacity: 1;
}
.process-icon {
  font-size: 110px;
  transition: transform 0.4s ease-in-out;
}
.process-icon-one:hover,
.process-icon-three:hover {
  transform: rotate(15deg);
}
.process-icon-two:hover,
.process-icon-four:hover {
  transform: rotate(-15deg);
}

/* ----- form ----- */
form {
  width: 100%;
  margin: 80px 0px 60px 0px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 2px rgba(175, 175, 175);
}
.form-heading {
  font-size: 30px;
  padding: 15px 0px 15px 0px;
  margin-bottom: 10px;
}
hr {
  width: 100%;
}
input,
textarea {
  background-color: rgb(240, 240, 240);
  border: none;
  width: 80%;
  padding: 10px 15px;
  margin: 15px 0px;
  font-size: 16px;
  font-family: "Metrophobic", sans-serif;
}
#name {
  margin-top: 40px;
}
.town-postcode-wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#town-city {
  width: 70%;
}
#postcode {
  width: 27%;
}
button {
  background-color: rgb(150, 121, 105);
  color: white;
  margin: 10px;
  padding: 8px 20px 9px 20px;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  font-family: "Metrophobic", sans-serif;
}
button:hover {
  cursor: pointer;
  background-color: black;
}

/* --------------- media queries -------------- */
@media only screen and (max-width: 900px) {
  .process {
    margin: 60px 0px;
    flex-direction: column;
  }
  .process-one {
    margin-top: 40px;
  }
  .process-two,
  .process-four {
    flex-direction: column-reverse;
  }
  .process-four {
    margin-bottom: 20px;
  }
  .process-text {
    text-align: center;
    width: 80%;
    font-size: 18px;
  }
  .process-icon {
    padding-bottom: 40px;
  }
  .process-outer-container {
    padding-bottom: 20px;
  }
  .mtt-contact-text {
    font-size: 18px;
    padding-top: 15px;
  }
  .mtt-text {
    font-size: 18px;
  }
  .mtt-icon {
    font-size: 26px;
  }
}

@media only screen and (max-width: 750px) {
  .contact-outer-container {
    margin: 50px auto 60px auto;
  }
  .mtt-container {
    margin: 50px 0px;
  }
  .mtt-img-container {
    width: 35%;
  }
  #town-city {
    width: 60%;
  }
  #postcode {
    width: 37%;
  }
}

@media only screen and (max-width: 600px) {
  .mtt-contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .mtt-phone-container {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .mtt-img-container {
    width: 40%;
  }
  .contact-text-container {
    margin: 40px auto;
  }
  .contact-outer-container {
    margin: 40px auto;
  }
  .process-heading {
    padding: 0px 0px 20px 0px;
  }
  .process-icon {
    padding-bottom: 30px;
  }
  .process-text {
    font-size: 17px;
  }
  .process-icon {
    font-size: 90px;
  }
  .process-outer-container {
    padding-bottom: 10px;
  }
  form {
    margin: 50px 0px 40px 0px;
  }
  input,
  textarea,
  .town-postcode-wrapper {
    width: 90%;
  }
  #town-city {
    width: 55%;
  }
  #postcode {
    width: 42%;
  }
}
