/* ----- hero text ----- */
.hero-text-container {
  /* outline: 2px solid black; */
  position: relative;
  width: 80%;
  max-width: 900px;
  margin: 80px auto 60px auto;
  text-align: center;
}
.hero-heading {
  font-size: 40px;
  margin-bottom: 15px;
}
.hero-text {
  margin-top: 30px;
  /* font-size: 20px; */
  line-height: 2;
  font-size: 18px;
}

/* ----- content ----- */
.content-container {
  /* outline: 2px solid black; */
  position: relative;
  width: 80%;
  max-width: 900px;
  height: 600px;
  margin: 50px auto;
}
.content-text {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 2;
  font-size: 18px;
}
.hidden {
  opacity: 0;
  transition: all 1.5s;
}
.show {
  opacity: 1;
}
.tlc-text {
  font-family: "DM Serif Display", serif;
}
.content-img-container {
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 2px rgba(175, 175, 175);
}
.hidden-left {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show-left {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.hidden-right {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(100%);
  transition: all 1s;
}
.show-right {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.content-img {
  object-fit: cover;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}
.content-img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#content-img-container-one {
  height: 35%;
  width: 25%;
  left: 2%;
}
.content-img-one {
  width: 100%;
}
#content-img-container-two {
  height: 25%;
  width: 40%;
  top: 4%;
  right: 10%;
}
.content-img-two {
  width: 100%;
}
#content-img-container-three {
  height: 28%;
  width: 45%;
  bottom: 5%;
  left: 7%;
}
.content-img-three {
  width: 100%;
}
#content-img-container-four {
  height: 35%;
  width: 30%;
  bottom: 0%;
  right: 0%;
}
.content-img-four {
  width: 100%;
}

/* ----- content container two ----- */
.content-container-two {
  height: 500px;
}
.content-text-two {
  position: relative;
  width: 90%;
  text-align: center;
  line-height: 2;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}
.content-img-five {
  width: 100%;
}
#content-img-container-five {
  height: 40%;
  width: 45%;
  bottom: 15%;
  left: 0%;
}
.content-img-six {
  width: 100%;
}
#content-img-container-six {
  height: 50%;
  width: 30%;
  bottom: 10%;
  right: 7%;
}

/* ----- lower nav ----- */
.lower-nav {
  width: 80%;
  max-width: 900px;
  margin: 0px auto 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 22px;
}
.lower-nav-text {
  transition: transform 0.3s ease-in-out;
}
.lower-nav-text:hover {
  transform: scale(1.1);
}

/* --------------- media queries --------------- */
@media only screen and (max-width: 930px) {
  .content-img-five {
    width: auto;
    height: 100%;
  }
}

@media only screen and (max-width: 770px) {
  .content-img-three {
    width: auto;
    height: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .hero-text-container {
    margin: 60px auto;
  }
  .content-container {
    width: 90%;
    height: 600px;
  }
  .content-img-one {
    width: 100%;
    height: auto;
  }
  .content-container-two {
    width: 90%;
    height: 500px;
  }
  .content-img-three {
    width: 100%;
    height: auto;
  }
  .lower-nav {
    width: 80%;
    max-width: 900px;
    height: 130px;
    margin: 0px auto 60px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  }
}

@media only screen and (max-width: 680px) {
  .content-img-three {
    width: auto;
    height: 100%;
  }
  #content-img-container-three {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 656px) {
  .content-img-one {
    width: auto;
    height: 100%;
  }
  .content-img-six {
    width: auto;
    height: 100%;
  }
}

@media only screen and (max-width: 622px) {
  .hero-text-container {
    margin: 50px auto 60px auto;
  }
  .content-img-one {
    width: auto;
    height: 100%;
  }
  .content-container-two {
    height: 450px;
    margin-bottom: 30px;
  }
  #content-img-container-five {
    height: 32%;
    width: 40%;
    bottom: 15%;
    left: 0%;
  }
  #content-img-container-six {
    height: 45%;
    width: 30%;
    bottom: 10%;
    right: 7%;
    display: flex;
    justify-content: center;
  }
  .content-img-six {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 585px) {
  #content-img-container-three {
    display: flex;
    align-items: end;
  }
  #content-img-container-four {
    display: flex;
    justify-content: center;
  }
  .content-img-four {
    width: auto;
    height: 100%;
  }
  .content-container-two {
    height: 450px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 515px) {
  #content-img-container-one {
    height: 30%;
  }
  #content-img-container-five {
    height: 27%;
    width: 40%;
    bottom: 15%;
    left: 0%;
  }
  #content-img-container-six {
    height: 40%;
    width: 35%;
    bottom: 7%;
    right: 7%;
    justify-content: center;
  }
  .content-img-six {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 445px) {
  .hero-text-container {
    margin: 40px auto;
  }
  #content-img-container-one {
    height: 30%;
    width: 30%;
  }
  #content-img-container-two {
    height: 20%;
  }
  #content-img-container-three {
    bottom: -2%;
  }
  #content-img-container-four {
    height: 30%;
  }
  #content-img-container-six {
    bottom: 5%;
  }
  .content-container-two {
    height: 550px;
  }
}

@media only screen and (max-width: 400px) {
  .content-img-six {
    width: auto;
    height: 100%;
  }
}

@media only screen and (max-width: 339px) {
  #content-img-container-five {
    bottom: 10%;
  }
  #content-img-container-six {
    bottom: 0%;
    overflow: hidden;
  }
  .content-img-six {
    width: auto;
    height: 100% !important;
    object-fit: fill !important;
  }
}

@media only screen and (max-width: 260px) {
  #content-img-container-five {
    height: 27%;
    width: 40%;
    bottom: 5%;
    left: 0%;
  }
  #content-img-container-six {
    height: 35%;
    width: 35%;
    bottom: -5%;
    right: 7%;
  }
  .lower-nav {
    margin: 70px auto 60px auto;
  }
}
