/* * ----- hero text ----- */
.hero-text-container {
  position: relative;
  width: 80%;
  max-width: 900px;
  min-height: calc(100vh - 642px);
  margin: 80px auto 100px auto;
  text-align: center;
}
.hero-heading {
  font-size: 40px;
  margin-bottom: 15px;
}
.hero-text {
  margin-top: 30px;
  /* font-size: 20px; */
  line-height: 2;
  font-size: 18px;
}
span {
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  .hero-text-container {
    min-height: calc(100vh - 620px);
    margin: 40px auto 40px auto;
  }
  span {
    font-size: 20px;
  }
  .hero-text {
    font-size: 16px;
  }
}
