/* css reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----- body ----- */
body {
  font-family: "Metrophobic", sans-serif;
}
a {
  color: black;
  text-decoration: none; /* no underline */
}
.content {
  min-height: 100vh;
}
#this-page {
  font-weight: 700;
}

/* ----- navbar ----- */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 2px -2px rgb(175, 175, 175);
  z-index: 2;
}
nav {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 20px;
  margin: 0 auto;
  max-width: 1200px;
}
.nav-title {
  margin-right: auto;
  font-size: 28px !important;
}
.nav-links {
  margin: 0px 15px;
  position: relative;
}
.nav-links:hover {
  cursor: pointer;
}
.nav-links::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #000000; /* Set your desired underline color */
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-out;
}

.nav-links:hover::after {
  width: 100%;
}
.price-s-span {
  display: none;
}

/* ----- footer ----- */
footer {
  padding: 10px;
  text-align: center;
  border-top: 3px solid rgb(175, 175, 175);
}
footer p {
  margin: 0 auto;
}

/* --------------- media queries --------------- */
@media only screen and (max-width: 1200px) {
  .nav-title {
    font-size: 24px !important;
  }
}

@media only screen and (max-width: 700px) {
  nav {
    padding: 10px 15px 10px 15px;
  }
  .nav-title {
    font-size: 22px !important;
  }
  .nav-links {
    margin: 0px 10px;
  }
  .price-s-span {
    display: inline;
  }
  .estimator-span,
  .contact-us-span {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .prep-span {
    display: none;
  }
  nav {
    padding: 10px;
  }
  .nav-title {
    font-size: 20px !important;
  }
  .nav-links {
    font-size: 13px;
  }
}

@media only screen and (max-width: 440px) {
  .nav-title {
    font-size: 17px !important;
  }
  .nav-links {
    font-size: 12px;
  }
}

@media only screen and (max-width: 375px) {
  .nav-title {
    font-size: 15px !important;
  }
  .nav-links {
    font-size: 10px;
  }
}
