/* css reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----- body ----- */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Metrophobic", sans-serif;
}
h1,
h2,
h3,
.lower-nav {
  font-family: "DM Serif Display", serif;
}
a {
  color: black;
  text-decoration: none; /* no underline */
}

/* ----- header (wide) ----- */
.header-wide {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  transition: background-color 0.3s ease-in-out;
}
.header-wide-no-scroll {
  color: white;
}
.header-wide-no-scroll a {
  color: white;
}
.header-wide-scrolled {
  color: black;
  background-color: white;
  box-shadow: 0 4px 2px -2px rgb(175, 175, 175, 0.5);
}
.header-wide-title {
  margin-left: 4%;
  font-size: 50px;
}
.header-wide-nav-container {
  width: 30%;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 4%;
}
.header-wide-nav-link {
  position: relative;
  text-decoration: none;
  transition: color 0.3s;
}
.header-wide-nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}
.header-wide-scrolled .header-wide-nav-link::after {
  background-color: black;
}
.header-wide-nav-link:hover::after {
  width: 100%;
}
#this-page {
  font-weight: 700;
}
#this-page::after {
  cursor: text !important;
  text-decoration: None !important;
  background-color: rgb(0, 0, 0, 0);
}

/* ----- header (narrow) ----- */
.header-narrow {
  display: none;
  background-color: white;
  box-shadow: 0 4px 2px -2px rgb(175, 175, 175, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}
.header-narrow-title {
  padding: 5px 0 5px 3%;
}
.header-narrow-nav-link-background {
  position: absolute;
  background-color: white;
  box-shadow: -2px 2px 2px -2px rgb(175, 175, 175, 0.5);
  right: -22%;
  top: -170%;
  width: 60%;
  height: 350px;
  border-radius: 50%;
  transition: transform 0.4s ease-in-out;
  transform: translateX(100%); /* Start off-screen to the right */
}
.header-narrow-nav-container {
  /* outline: 3px solid black; */
  position: absolute;
  top: 30px;
  right: 0;
  width: 27%;
  height: 27vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: transform 0.4s ease-in-out;
  transform: translateX(100%); /* Start off-screen to the right */
}
.header-narrow-nav-link-two {
  padding-left: 8%;
}
.header-narrow-nav-link-three {
  padding-left: 16%;
}
.header-narrow-nav-link-four {
  padding-left: 26%;
}
.header-narrow-icon {
  position: absolute;
  top: 30%;
  right: 5%;
  font-size: 25px;
}
.header-narrow-icon:hover {
  cursor: pointer;
}
.header-narrow-cross {
  display: none;
}

/* ----- hero ----- */
.hero-container {
  /* outline: 3px solid black; */
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.hero-img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: -30%;
  /* transition: opacity 0.5s ease-in-out; */
}
.down-btn-container {
  /* border: 3px solid black; */
  /* height: 20px; */
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.down-btn {
  position: absolute;
  font-size: 40px;
  left: 50%;
  bottom: -18px;
  opacity: 0.7;
  transform: translateX(-50%);
  transition: opacity 0.5s ease;
}
.down-btn.hide {
  opacity: 0;
  /* display: none; */
}
.down-btn:hover {
  cursor: pointer;
}

/* ----- footer ----- */
footer {
  padding: 10px 0px 7px 0px;
  text-align: center;
  box-shadow: 0 -4px 2px -2px rgb(175, 175, 175, 0.5);
}
.boldCodeStudios-logo {
  height: 40px;
}

/* --------------- media queries --------------- */
@media only screen and (max-width: 1200px) {
  .nav-title {
    font-size: 24px !important;
  }
  .hero-img {
    bottom: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .header-wide-nav-container {
    width: 35%;
    margin-right: 3%;
  }
  .header-wide-title {
    margin-left: 3%;
    font-size: 40px;
  }
}

@media only screen and (max-width: 850px) {
  .header-wide-nav-container {
    width: 43%;
    margin-right: 3%;
  }
}

@media only screen and (max-width: 700px) {
  .header-wide {
    display: none;
  }
  .header-narrow {
    display: flex;
  }
}

@media only screen and (max-width: 550px) {
  .hero-container {
    display: flex;
    justify-content: center;
  }
  .hero-img {
    width: auto;
    height: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .header-narrow-nav-container {
    top: 30px;
    right: 0;
    width: 30%;
    height: 27vh;
  }
  .header-narrow-nav-link-two {
    padding-left: 6%;
  }
  .header-narrow-nav-link-three {
    padding-left: 12%;
  }
  .header-narrow-nav-link-four {
    padding-left: 20%;
  }
}
